@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Developers</h4>
<p>Kiran Haranahally</p>
<p>Manoj Kumar Billa</p>
<p>Ankit Shukla</p>
<p>Shivankit Sharma</p>
