@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hang Man</h1>
    <p class="lead">Select a Category to start Playing</p>
    
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/random.jpg" alt="random" data-description="random">
            </a>
        </div>
       
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/sports.png" alt="sports">
            </a>
        </div>
        
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/states.jpg" alt="states">
            </a>
        </div>
        
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/fruits.png" alt="fruits">
            </a>
        </div>
        
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/astronomy.gif" alt="astronomy">
            </a>
        </div>
        
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/animals.jpg" alt="animals">
            </a>
        </div>
        
    </div>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Beginner</h2>
        <p>
            Click to start beginner level game.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Medium</h2>
        <p>Click to start medium level.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Advanced</h2>
        <p>Click to start advanced level game.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>